/*This is our styles sheet*/

/*  the first rule in the stye sheet*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(18, 18, 43);
    font-family:body, Helvetica, sans-serif;
    color: rgb(216,218,211);
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}
h1 {
    font-family: titles, Arial, sans-serif;
    color: rgb(147, 183, 190);
    margin-bottom: 20px;
}
h2 {
    font-family: titles, Arial, sans-serif;
    margin-top: 15px;
    color: rgb(147, 183, 190);
}

ul {
    margin-left: 40px;
}
a{
    color: rgb(147, 147, 147);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p {
    margin-top: 2px;
    margin-bottom: 2px;
}
@font-face {
    font-family: singatural;
    src: url(Signatural\ Demo.ttf);
}
@font-face {
    font-family:titles ;
    src: url(Saudagar.ttf);
}
@font-face {
    font-family: body;
    src: url(AppleGaramond.ttf);
}