* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(18, 18, 43);
    font-family:body, Helvetica, sans-serif;
    color: rgb(216,218,211);
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}
h1 {
    font-family: titles, Arial, sans-serif;
    color: rgb(147, 183, 190);
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    font-family: titles, Arial, sans-serif;
    margin-top: 15px;
    color: rgb(147, 183, 190);
}

ul {
    margin-left: 40px;
}
a{
    color: rgb(147, 147, 147);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p {
    margin-top: 2px;
    
}
@font-face {
    font-family: singatural;
    src: url(SignaturalDemo.ttf);
}
@font-face {
    font-family:titles ;
    src: url(Saudagar.ttf);
}
@font-face {
    font-family: body;
    src: url(AppleGaramond.ttf);
}
.country_container{
    display: grid;
	grid-template-columns:repeat(auto-fit, minmax(500px,1fr));
	
}
.card{
    border: 1px solid rgb(160, 178, 209);
	border-radius: 20px;
	padding: 20px;
    margin: 10px;
}
.card img{
    max-width: 100%;
}
.header{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 20% 80%;
}
.maincontent img{
    max-width: 100%;
}
.side_panel img{
    max-width: 90%;
    height: auto;
}
.side_panel{
    padding: 5px;
}
@media only screen and (max-width:800px) {
    .container{
        grid-template-rows: 1fr 1fr;
    }
    .side_panel {
        border: 5px rgb(160, 178, 209) solid; 
    }     
    .side_panel img{
        max-width: 100%;
        height: auto;
    };

}