@font-face {
    font-family:titles ;
    src: url(Saudagar.ttf);
}
@font-face {
    font-family: body;
    src: url(AppleGaramond.ttf);
}
* {
    margin: 0px;
    padding: 0px;
}
.heading_banner img{
    max-width: 100%;
    height: auto;
    
}
body{
    background-color: #226096;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
p{
    margin-top:3px;
}

.container{
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
}
.top_link_container{
    margin-bottom: 1%;
    margin-right: 20% ;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main_content_container{
    display: grid;
    grid-template-columns: 70% 30%;
}
.video_text img{
    max-width: 90%;
    height: auto;
}
.video_text{
    margin-left: 80px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.right_content h3 {
    margin-bottom: 6px;
    color: #2207f0d4;
}

.right_content h4 {
    color:#3169e2;
    margin-top: 8px;
}
.bottom_links {
    background-color: rgb(216, 216, 216);
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    text-align: center;
}
@media only screen and (max-width:800px) {
   .container{
    grid-template-columns: 1fr 1fr;
   }
   .top_link_container{
    margin-left: 10%;
    margin-right: 10%;
   }
   .main_content_container{
    display:block;
   }
   .events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
   }
   .whats_on{
    display: none;
   }
   
   }
   
    
